<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <import resource="classpath:discountService.xml"/>

    <bean id="userDAO" class="ua.epam.spring.hometask.dao.daoImpl.UserDAOImpl"/>

    <bean id="userService" class="ua.epam.spring.hometask.service.implementation.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="auditoriumDAO" class="ua.epam.spring.hometask.dao.daoImpl.AuditoriumDAOImpl"/>

    <bean id="auditoriumService" class="ua.epam.spring.hometask.service.implementation.AuditoriumServiceImpl">
        <property name="auditoriumDAO" ref="auditoriumDAO"/>
    </bean>

    <bean id="eventDAO" class="ua.epam.spring.hometask.dao.daoImpl.EventDAOImpl"/>

    <bean id="eventService" class="ua.epam.spring.hometask.service.implementation.EventServiceImpl">
        <property name="eventDAO" ref="eventDAO"/>
    </bean>

    <bean id="bookingDAO" class="ua.epam.spring.hometask.dao.daoImpl.BookingDao"/>

    <bean id="bookingService" class="ua.epam.spring.hometask.service.implementation.BookingServiceImpl">
        <property name="bookingDAO" ref="bookingDAO"/>
        <property name="discountService" ref="discountService"/>
    </bean>

</beans>